.container {
  display: inline-block;
}

.friend {
  width: 200px;
  height: 285px;
  border: 1px solid rgba(77, 77, 77, 0.5);
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(77, 77, 77, 0.1);
  display: inline-block;
  margin: 10px;
}

.picture {
  width: 200px;
  height: 180px;
  border-radius: 3px 3px 0 0;
  object-fit: fill;
  object-position: center;
}
.name {
  margin: 5px 5px;
}

.common-friends {
  color: gray;
  margin: 3px 5px;
}

.btn-add {
  margin: 3px 5px;
  background-color: rgb(28, 125, 222);
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
